@model LoanManagementSystem.Models.Advance_initialization_details
@{
    ViewBag.Title = "LoanBalance";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Loan Balance</h2>


<div class="row">
    <form id="form_AVD_Shedule" action="ExportLoanBalance" method="post">

    
        <div class="form-group">
            @Html.Label("DISBURSED_DATE", "AS ON DATE")
            @Html.EditorFor(model => model.DISBURSED_DATE, new { htmlAttributes = new { @id = "DISBURSED_DATE", @class = "form-control", @placeholder = "Disbursed Date*" } })
        </div>
        <div class="form-row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ">

                @*<a href="@Url.Action("ExportAdvanceShedule")"> Report PDF </a>*@
                <input type="submit" class="btn btn-primary" id="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">




</script>

